{% extends "news/base_list.html" %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Life is Eternal Kaif!!</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/sixKaifStyle.css' %}">
</head>
<body>
<h1>Our Flora (and, above all, Magic Leaflets) is our Happiness!!!</h1>

<div class="receptacle">
    <div id="pictures">
    <ul>
        <li class="image showing">Happy Cat</li>
        <li class="image"><span style="color: red">Happy </span>Gnom</li>
        <li class="image">Happy <span style="color: red">Workers</span></li>
        <li class="image">Happy Childhood</li>
        <li class="image">Kaif <span style="color: red">will</span> come</li>
        <li class="image"><span style="color: red">Shaman arrange with the gods about everything!</span></li>
        <li class="image"><span style="color: red">Assol waited ...<br>
            Made a </span><span style="color: deeppink">dress from </span> <span style="color: red">sails</span></li>
    </ul>
    </div>
    <div class="proud_text">
        <h2>Great and unusual Love</h2>
        <h4 style="font-style: italic">Honduran folk tale</h4>
        <p>This story may seem unlikely. But do not forget that this happened with us - in Honduras.<br>
            And in such a fun country anything can happen.</p>
        <p>So listen!<br>
         Once upon a Time...<br>
            a beautiful young girl named Assol from a fishing village met on the shore a cat,
            who carried unknown to anyone before a cocaine twig in his mouth and chewed leaves from it.</p>
        <p>“I will tell your fate if you give me fish”, - said the cat in a human voice.<br>
            The girl gave him a fish. But what she heard then led her into extraordinary surprise.</p>
        <p>Far in the jungle and high in the mountains there is a wonderful country called Honduras.<br>
            Go there and you will find your happiness ...</p>
        <p>And the girl hit the road. After a long journey, she finally saw a large field of unusual bushes.
            But even more unusual was the man lying in the shadow of these bushes.<br>
            “Not afraid,” said the stranger, “my name is Pedro.
            I lay down to rest while my friends replaced me at work. We collect and process these leaves,
            which make a wonderful potion that can give a person everything he wants.<br>
            What do you want?”<br>
            “I'm looking for my love,” the girl said.<br>
            This field, like the rest of the fields of our country,
            belongs to one shaman, whose name is Pablo Escobar.
            His power is great. And only he knows how to extract unlimited power
            from these magic leaves that can perform any miracle.<br>
            Over there, behind our working shed there is a bunch of leaves.
            My daughter lies in it. She will lead you to the shaman.</p>
        <p>
            When the girl brought Asol to the shaman, he gave a white powder and ordered him to sniff.
            Further through the dream, Assol through the dream remembered how
            she and the shaman flew through the air on a board called a “levitating skate”.
            She woke up on her native shore.<br>
            The shaman was preparing to hold a prayer. But before that, he again gave Assol a drink
            from a bottle called Tequila. and ordered to make only one wish.<br>
            Before losing consciousness, Assol thought of a beautiful captain on a ship with scarlet sails.
            Then inexplicably she wanted another dress.</p>
        <p>
            Awakening was a miracle.<br>
When the girl opened her eyes, her Fairytale Prince-Captain looked at her and smiled.<br>
And even the absence of several teeth did not spoil him.<br>
“And where is the dress?” Assol asked the idiotic, typically female question.<br>
“Sew from the sails,” the man of her dreams gently whispered.
        </p>
    </div>
</div>

<!-- подключение слайдера -->
<script src="{% static 'js/sixKaifScript.js' %}"></script>


</body>
</html>

{% endblock %}