/*body {*/
/*    background: springgreen url("/static/leaves.jpg") repeat-y;*/
/*}*/

body>h1 {
     font-size: 300%;
     text-align: center;
     font-family: Helvetica;
    font-weight: bolder;
     color: orangered;
     }

.reservoir{
    width: 100%;
    height: auto;
    display: flex;
	justify-content: space-between;
    margin-top: 0px;
}

.text_pext{
    width: 500px;
    height: 425px;
    overflow-y: scroll;
    background-color: lightskyblue;
    font-family: Verdana, monospace;
    font-size: 14pt;
    font-weight: bold;
    color: indianred;
    margin-right: 20px;
    padding: 20px;
}

.text_pext>h2{
    color: indigo;
}
/*
essential styles:
these make the slideshow work
*/
.sliders{
    position: relative;
    width: 680px;
    height: 439px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
li{
    font-weight: bold;
}
.view{
    position: absolute;
    left: 20px;
    width: 44%;
    height: 55%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.view{
    font-size: 40px;
    padding: 40px;
    box-sizing: content-box;
    background: #333;
    color: #FFA533;
}

.view:nth-of-type(1){
    background: url("/static/photos/week_holy/4-1.jpg");
}
.view:nth-of-type(2){
    background: url("/static/photos/week_holy/4-2.jpg");
}
.view:nth-of-type(3){
    background: url("/static/photos/week_holy/4-3.jpg");
}
.view:nth-of-type(4){
    background: url("/static/photos/week_holy/4-4.jpg");
}
.view:nth-of-type(5){
    background: url("/static/photos/week_holy/4-5.jpg");
}
.view:nth-of-type(6){
    background: url("/static/photos/week_holy/4-6.jpg");
}
.view:nth-of-type(7){
    background: url("/static/photos/week_holy/4-7.jpg");
}